.tree-dropdown {
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 300px;
  overflow-y: auto;
  margin-top: 5px;
  background: white;
  z-index: 1000;
  position: absolute;
  max-width: 95%;
  width: 50%;  // Variar si los elementos no se ven completos
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s, transform 0.3s;
}

.tree-node {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

.selected {
  font-weight: bold;
  color: #273aab;
}

.tree-dropdown.show {
  opacity: 1;
  transform: translateY(0);
}
